body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin: 60px 80px;
  width: 100%;
  max-width: 80vw;
}

.col {
  float: left;
  margin-right: 70px;
}

.box {
  background-color: rgb(191, 191, 195);
  height: 500px;
  max-height: max-content;
  padding: 10px 30px;
  border-radius: 5px;
  width: 30vw;
}

#alerta {
  color: red;
}